---
layout: default
# The Project page layout.
---


{% include assets-origin.html %}

<div class="row">

  <!-- core -->
  <div id="core-wrapper" class="col-12">
    <div class="post pl-1 pr-1 pl-md-2 pr-md-2">

      {% include refactor-content.html content=content %}
      {% assign tab_key = page.title | downcase %}
      {% assign title = site.data.locales[site.lang].tabs[tab_key] | default: page.title %}

      <h1 class="dynamic-title">{{ title }}</h1>
      
      <div class="post-content row">

      {% for project in site.projects %}
        <div class="col-3 col-sm-12 col-md-6 col-lg-4 col-xl-4 text-primary p-2">
          <div class="card" style="background-color: var(--card-bg)">
            {% capture src %}src="{{ site.img_cdn | append: project.img_path | append: project.thumb.path | relative_url }}"{% endcapture %}
            {% capture alt %}alt="{{ project.thumb.alt | default: "Project thumbnail" }}"{% endcapture %}

            <img class="card-img-top" {{ src }} {{ alt }}>

            <div class="card-body p-3">
              <h5 class="card-title my-2">{{ project.title }}</h5>
              <p class="card-text text-secondary">
                {% include no-linenos.html content=project.content %}
                {{ content | markdownify | strip_html | truncate: 100 | escape }}
              </p>
            </div>

            <a class="btn btn-outline-secondary btn-sm stretched-link mx-5" href="{{ project.url }}">View</a>

            <div class="card-footer py-1 px-3">
              <!-- categories -->
              {% if project.categories.size > 0 %}
                <i class="far fa-folder-open fa-fw"></i>
                <span>
                {% for category in project.categories %}
                  {{ category }}
                  {%- unless forloop.last -%},{%- endunless -%}
                {% endfor %}
                </span>
              {% endif %}
            </div>
          </div>
        </div>
      {% endfor %}

      </div>

    </div>
  </div> <!-- #core-wrapper -->

</div>

